.App {
  text-align: center;
}

body {
  font-family: Roboto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-link,
.main-link__active:hover,
button {
  text-decoration: none;
  color: white;
  background: #282c34;
  margin: 10px;
  padding: 10px;
  display: inline-block;
  border: 1px solid;
  transition: all .5s;
  cursor: pointer;
}

.main-link__active,
.main-link:hover,
button:hover {
  background: white;
  color: #282c34;
}

h1 {
  cursor: pointer;
  margin: 0;
  padding: 10px;
  transition: background .5s;
}

h1:hover,
h1.active {
  background: #ccc;
}

.concat-field {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

.concat-field input {
  margin-right: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ids_textarea {
  width: 500px;
  height: 250px;
}